html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

img {
    display: block;
    width: 100%;
    height: auto;
}