@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .page-header {
        background: url('../images/background_image@2x.jpg');
        min-height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}